body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.button {
    margin-left: 30vw;
    margin-bottom: 5vh;
}

.main-class {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-left: 2vw;
}

.movies-list {
    padding-left: 5vw;
}

.movie-item {
    display: block;
    margin: 1vh;
    width: 75vw;
    height: 75vh;
}

.movie-image {
    height: 75vh;
    width: 25vw;

}

.details-title {
    background-color: aquamarine;
    color: black;
    font-size: 1.5em;
    text-align: center;
    display: block;
    position: relative;
    max-width: 40vw;
    margin-left: 45vw;
    bottom: 60vh;
    border: solid 1.0px black;
}


.details-overview {
    background-color: aquamarine;
    color: black;
    position: relative;
    max-width: 80vw;
    margin-left: 45vw;
    bottom: 50vh;
    border: solid 1.0px black
}